body {
  background-color: rgb(250, 190, 116);
  padding: 10px;
}

.calculator-container {
  width: 340px;
  height: 500px;
  display: flex;
  flex-direction: column;
  grid-template-rows: 20% 80%;
}

.display-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 5px;
  border: solid black;
  background-color: greenyellow;
  height: 70px;
}

#display-input {
  font-size: 24px;
  font-weight: bold;
}

#display-answer {
  font-size: 32px;
  font-weight: bolder;
}
#display-answer > span {
  text-align: right;
}

.keys-container {
  padding-top: 5px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: orange;
}

button {
  font-size: 34px;
  font-weight: bolder;
  border: 5px inset orange;
  background-color: rgb(74, 143, 143);
  border-radius: 15px;
  padding: 4px;
}
